+font('bebas',bebas-webfont)

body
	font-family: Helvetica,sans-serif 

=bebas
	font-family: bebas,sans-serif

.img-fluid,
.img-fluid-a 
    width: 100%
    display: block
    height: auto
    align-self: center

.img-fluid-a
    width: initial
    max-width: 100%





 
