.container
	max-width: 940px
	margin: 0 auto;
.header

	&__wrap
		display: flex
		text-align: left
		padding: 22px 0
		align-items: baseline
	&__logo
		text-transform: uppercase
	&__nav
		text-transform: uppercase
		margin-left: auto
.logo
	font-size: 36px
	color: #e8603c
	// +bebas
	&__Ro
		color: #f3af9d

.navigation
	font-size: 16px
	// +bebas
	position: relative
	top: -6px
	a
		color: #b9b9b9
		margin-left: 24px
		&.is-active,&:hover
			color: #e8663c

.section-top
	max-width: 670px

.slider
	position: relative
	&__slide
		height: 0
		padding-bottom: 44.7%
	&__next,&__prev
		background: red
		position: absolute
		top: 50%
		left: 20px
		width: 40px
		height: 40px
	&__next
		left: auto
		right: 20px

