--- title: Layman --- {% extends "layouts/_layout.html" %} {% block content %}


<!-- header -->
<header class="header">
  <div class="container">
    <div class="header__wrap">
      <div class="header__logo">
        <a href="#" class="logo">
          <div class="logo__Jet">Jet</div>
          <div class="logo__Ro">Ro</div>
        </a>
      </div>
      <div class="header__nav">
        <nav class="navigation">
          <a href="#">home</a>
          <a href="#">about us</a>
          <a href="#">blog</a>
          <a href="#">portfolio</a>
          <a href="#">contact us</a>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- end header -->
<!-- blog -->
<div class="blog">
  <div class="container">
    <h1 class="blog__heading">
      blog
    </h1>
  </div>
</div>
<!-- end blog -->
<!-- slider -->

  <div class="container main-blog">
    <main class="main">
    <div class="main__wrap">
    <div class="slider section">
        <div class="slider__next">{{mixins.icon('arrow')}}</div>
        <div class="slider__prev">{{mixins.icon('arrow')}}</div>
      <div class="slider__slides js-main">
        <div class="slider__slide" style="background: url(img/slide.png);">
        </div>
        <div class="slider__slide" style="background: url(img/slide.png);">
        </div>
        <div class="slider__slide" style="background: url(img/slide.png);">
        </div>
      </div>
    </div>
  
    <div class="inner">
      <div class="inner__wrap">
        <div class="inner__info">
          <a href="#" class="inner__link">
            <h3 class="inner__heading">date</h3>
            <h4 class="inner__description">April 15, 2012</h4>
          </a>
        </div>
        <div class="inner__info">
          <a href="#" class="inner__link">
            <h3 class="inner__heading">tags</h3>
            <h4 class="inner__description">Website | Design</h4>
          </a>
        </div>
        <div class="inner__info">
          <a href="#" class="inner__link">
            <h3 class="inner__heading">comments</h3>
            <h4 class="inner__description">4</h4>
          </a>
        </div>
      </div>
      <div class="inner__promo">
        <h3 class="inner__title">Top WordPress Themes of 2012</h3>
        <p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>
        <p> Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis <span class="inner__dot">...</span></p>
      </div>
    </div>
 
    </div>
    <div class="main__wrapp-middle">
        <div class="slider section">
           
          <div class="slider__slides js-middle">
            <div class="slider__slide" style="background: url(img/slide-middle.png);">
            </div>
            <div class="slider__slide" style="background: url(img/slide-middle.png);">
            </div>
            <div class="slider__slide" style="background: url(img/slide-middle.png);">
            </div>
          </div>
        </div>
      
        <div class="inner">
          <div class="inner__wrap">
            <div class="inner__info">
              <a href="#" class="inner__link">
                <h3 class="inner__heading">date</h3>
                <h4 class="inner__description">April 15, 2012</h4>
              </a>
            </div>
            <div class="inner__info">
              <a href="#" class="inner__link">
                <h3 class="inner__heading">tags</h3>
                <h4 class="inner__description">Website | Design</h4>
              </a>
            </div>
            <div class="inner__info">
              <a href="#" class="inner__link">
                <h3 class="inner__heading">comments</h3>
                <h4 class="inner__description">4</h4>
              </a>
            </div>
          </div>
          <div class="inner__promo">
            <h3 class="inner__title">Jesus  Typography  Wallpaper  Giveaway!</h3>
            <p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>
            <p> Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis <span class="inner__dot">...</span></p>
          </div>
        </div>
        </div>
        <div class="main__wrapp-bottom">
            <div class="slider section">
               
                <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/47706295?color=e8603c" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                <p><a href="https://vimeo.com/47706295"></a> <a href="https://vimeo.com/roberthillailv"></a> <a href="https://vimeo.com"></a>.</p>
            </div>
          
            <div class="inner">
              <div class="inner__wrap">
                <div class="inner__info">
                  <a href="#" class="inner__link">
                    <h3 class="inner__heading">date</h3>
                    <h4 class="inner__description">April 15, 2012</h4>
                  </a>
                </div>
                <div class="inner__info">
                  <a href="#" class="inner__link">
                    <h3 class="inner__heading">tags</h3>
                    <h4 class="inner__description">Website | Design</h4>
                  </a>
                </div>
                <div class="inner__info">
                  <a href="#" class="inner__link">
                    <h3 class="inner__heading">comments</h3>
                    <h4 class="inner__description">4</h4>
                  </a>
                </div>
              </div>
              <div class="inner__promo">
                <h3 class="inner__title">Jesus  Typography  Wallpaper  Giveaway!</h3>
                <p>Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu. </p>
                <p> Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis <span class="inner__dot">...</span></p>
              </div>
            </div>
            </div>
        
          </main>
   <aside class="aside">
     <div class="aside__wrap">
       <div class="about">
         <h3 class="h3">
           about jetro
         </h3>
         <p class="about__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet.  sagittis ipsum. 
         </p>
       </div>
       <div class="categories">
         <h3 class="h3">
           categories
         </h3>
         <ul class="categories__list">
           <li><a href="#">Video (3)</a></li>
           <li><a href="#">Sports (5)</a></li>
           <li><a href="#">Media (2)</a></li>
           <li><a href="#">Entertainment(7)</a></li>
           <li><a href="#">Life (4)</a></li>
           <li><a href="#">Super Cool Stuff   (8)</a></li>
         </ul>
       </div>
     </div>
   </aside>
  </main> 
  </div>



{# variable example #}
<h1>{{title}}</h1>


{% endblock %}
