<!-- BEGIN header -->
<div class="page__container">
  <div class="head">
    <div class="head__logo">
      <a href="#" class="logo">
        <span class="logo__part">Jet</span>
        <span class="logo__part logo__part_lighter">Ro</span>
      </a>
    </div>
    <div class="head__nav">
      <nav class="nav">
        <a href="#" class="nav__link">home</a>
        <a href="#" class="nav__link">about us</a>
        <a href="#" class="nav__link link_active">blog</a>
        <a href="#" class="nav__link">portfolio</a>
        <a href="#" class="nav__link">contact us</a>
      </nav>
    </div>
  </div>
</div>
<!-- END header -->