<!-- BEGIN aside-blog -->
<aside class="blog-post__aside">
  <div class="about">
    <div class="about__heading">
      <h4 class="h4-heading-line">About Jetro</h4>
    </div>
      <p class="about__description text_color">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum.
      </p>
  </div>
  <div class="categories">
      <div class="categories__heading">
        <h4 class="h4-heading-line">Categories</h4>
      </div>
      <div class="categories__category">
        <ul class="categories-list">
          <li class="categories-list__video">
            <a href="#" class="categories-list__link">Video
              <span class="categories-list__quantity">(3)</span>
            </a>
          </li>
          <li class="categories-list__sports">
            <a href="#" class="categories-list__link">Sports
              <span class="categories-list__quantity">(5)</span>
            </a>
          </li>
          <li class="categories-list__media">
            <a href="#" class="categories-list__link">Media
              <span class="categories-list__quantity">(2)</span>
            </a>
          </li>
          <li class="categories-list__entertainment">
            <a href="#" class="categories-list__link">Entertainment
              <span class="categories-list__quantity">(7)</span>
            </a>
          </li>
          <li class="categories-list__life">
            <a href="#" class="categories-list__link">Life
              <span class="categories-list__quantity">(4)</span>
            </a>
          </li>
          <li class="categories-list__super">
            <a href="#" class="categories-list__link">Super Cool Stuff
              <span class="categories-list__quantity">(8)</span>
            </a>
          </li>
        </ul>
      </div>
  </div>
  <div class="photo-gallery">
      <div class="photo-gallery__heading">
        <h4 class="h4-heading-line">Photo gallery</h4>
      </div>
      <div class="photo-gallery__photos"> 
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art1.jpg">
            <img src="img/art1.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art2.jpg">
            <img src="img/art2.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art3.jpg">
            <img src="img/art3.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art4.jpg">
            <img src="img/art4.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art5.jpg">
            <img src="img/art5.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art6.jpg">
            <img src="img/art6.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/art7.jpg">
            <img src="img/art7.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
        <figure>
          <a class="fancybox-button" rel="fancybox-button" href="img/coderiver-logo.jpg">
            <img src="img/coderiver-logo.jpg" alt="wolf" class="img-fluid img-fluid_max-width"/>
            </a>
        </figure>
      </div>
  </div>
</aside>
<!-- END aside-blog -->